body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  overflow-y: scroll;
  margin: 0;
  position: relative;
  min-height: 100vh;;
}

main{
text-align: left;
}

@media screen and (min-width: 1190px){
main{
  padding-left: 8%;
}
} 

@media screen and (min-width:1360px){
main{
  padding-left: 15%;
}
}

#bg img{
  position: absolute;
  z-index: -999;
  width: 1000px;
  height: auto;
}

@media print{
  main{
      margin-left: 0px;
      text-align: left;
  }

  #bg img{
      position: absolute;
      z-index: -999;
  }
}

:root {
  --form-control-color: black;
  --form-control-disabled: #959495;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

form {
  position: relative;
  text-align: center;
}

.column-1{
  text-align: center;
  position: absolute;
  margin-top: 711px;
  margin-left: 59.5px;
}

.column-2{
  text-align: center;
  position: absolute;
  margin-top: 711px;
  margin-left: 278.5px;
}

.column-3{
  text-align: center;
  position: absolute;
  margin-top: 711px;
  margin-left: 498.5px;
}

.column-4{
  text-align: center;
  position: absolute;
  margin-top: 711px;
  margin-left: 717.5px;
}

.form-control {
  text-align: left;
  /* font-size: 0.8rem; */
  line-height: 1;
  /* display: grid; */
  border: 0;
  /* grid-template-columns: 1em auto; */
  gap: 1.2em;
  background:none;
  padding-top: 5.15px;
}

.form-control + .form-control {
  /* margin-top: 0.5em; */
} 

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 21.15px;
  height: 18px;
  border: 0.09em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 21.15px;
  height: 18.15px;
  transform: scale(0);
  box-shadow: inset 2em 2em var(--form-control-color);
  background-color: (--form-control-color);
  border-radius: 50%;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid #0386f1;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}


/* Radio */
tr { display: block; float: left; }
th, td { display: block; }

/* @media print{ */
.pres-sect{
  position: absolute;
  margin-top: 475px;
  margin-left: 70.5px;
}

input[type="radio"][name="radio-group"] {
  margin-right: 196px;
  margin-bottom: 10px;
}

.vice-sect{
  position: absolute;
  margin-top: 595px;
  margin-left: 69.5px;
}

input[type="radio"][name="radio-group-2"] {
  margin-right: 196px;
  margin-bottom: 10px;
}

/* } */
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 21.15px;
  height: 18.15px;
  border: 0.09em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 21.15px;
  height: 18.15px;
  transform: scale(0);
  box-shadow: inset 2em 2em var(--form-control-color);
  background-color: (--form-control-color);
  border-radius: 50%;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid #0386f1;
  outline-offset: max(2px, 0.15em);
}

input[type="radio"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

/* @media print{ */
div[value="pDiv"] {
  top: -36.5px;
  left: -9.5px;
  width: 879.5px;
  height: 29px;
  border: 2px transparent;
  position: absolute;
}div[value="pDiv"]:focus-visible{
  outline: 3px solid gold;
}
div[value="vpDiv"] {
  top: -36px;
  left: -9.5px;
  width: 878.8px;
  height: 29px;
  border: 2px transparent;
  position: absolute;
}div[value="vpDiv"]:focus-visible{
  outline: 3px solid gold;
}
div[value="senDiv"]{
  top: 679.4px;
  left: 58.5px;
  width: 878.8px;
  height: 30px;
  border: 2px transparent;
  position: absolute;
}div[value="senDiv"]:focus-visible{
  outline: 3px solid gold;
}
/* } */

/* Submit Button */
.botBtn-div{
  position: absolute;
  margin-top: 1220px;
  margin-left: 40%;
  text-align: left;
}

@media screen and (max-width:1360px){
.botBtn-div{
  margin-left: 39%;
}
}
@media screen and (min-width:1090px){
.botBtn-div{
  margin-left: 34%;
}
}
@media screen and (min-width:1700px){
.botBtn-div{
  margin-left: 30%;
}
}

@media print{
.botBtn-div{
  display: none;
  }
}
/* Other Buttons */
.icons{
margin-left: 889px;
}
#icon-setting{
position: absolute;
padding: 4px;
border: 2px solid black;
border-radius: 14px;
background-color: transparent;
margin-top: 57px;
}
#icon-question{
position: absolute;
padding: 4px;
border: 2px solid black;
border-radius: 14px;
background-color: transparent;
margin-top: 120px;
}
.icon-img{
background-color: white;
width: 46px;
height: auto;
}

@media print{
.icons{
  display: none;
}
}

/* Modal Settings */
.speedcontrolcontainer {
  max-width: 100%;
  display: block;
  padding: 10px;
  font-family: Sans-serif;
}
.speedcontrolcontainer audio {
  width: 100%;
  display: block;
}
.speedcontrolcontainer div {
  display: flex;
  padding: .5em 0;
  gap: 5px;
}
.speedcontrolcontainer label {
  flex: 1
}
.speedcontrolcontainer input[type="range"] {
  flex: 5
}
.speedcontrolcontainer span {
  flex: 1;
  text-align: center;
}